<div class="custom-container-fluid">
  <div class="login">
    <div class="login-container">
      <div class="login-content">
        <div class="login-logo">
          <span class="logo-accent">Edu</span>Platform
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login__form">

          <h2 class="login__title">Тіркелу</h2>

          <div class="input__group">
            <input
              type="text"
              formControlName="full_name"
              class="input__field"
              placeholder="Аты-жөні"
              required
            />
          </div>

          <div class="input__group">
            <input
              type="email"
              formControlName="email"
              class="input__field"
              placeholder="Email"
              required
            />
          </div>

          <div class="input__group">
            <input
              type="password"
              formControlName="password"
              class="input__field"
              placeholder="Құпия сөз"
              autocomplete="off"
              required
            />
          </div>

          <div class="input__group">
            <input
              type="password"
              formControlName="confirm_password"
              class="input__field"
              placeholder="Құпия сөзді қайталаңыз"
              autocomplete="off"
              required
            />
          </div>

          <button type="submit" class="input__btn">
            Тіркелу
          </button>

          <div class="auth-footer">
            Аккаунтыңыз бар ма? <a (click)="goToLogin()">Кіріңіз</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
