<div class="custom-container-fluid">
  <div class="login">
    <div class="login-container">
      <div class="login-content">
        <div class="login-logo">
          <span class="logo-accent">Edu</span>Platform
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
          <h2 class="login__title">Вход</h2>
          
          <div class="input__group">
            <input
              type="text"
              id="username"
              formControlName="username"
              class="input__field"
              placeholder="Логин (Email)"
              required
            />
          </div>
          
          <div class="input__group">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="input__field"
              placeholder="Пароль"
              autocomplete="off"
              required
            />
          </div>
          
          <button type="submit" class="input__btn">Войти</button>

          <div class="auth-footer">
            Нет аккаунта? <a (click)="goToRegister()">Зарегистрируйтесь</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
