$accent: #222222;
$main-text: #000000;
$secondary-text: #6C757D;
$text-color: #002033;
$white: #ffffff;

$background-color: #F8F9FA;
$background-secondary-color: #D6D6D6;

$green-text: #3BB273;
$background-green: #3BB27333;

$red-text: #E95E5E;
