<div class="sidebar">

  <div class="logo">
    <span class="logo-accent">Edu</span>Platform
  </div>

  <nav class="menu">
    <a routerLink="/main/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Курсы
    </a>

    @if (role() === 'student') {
      <a routerLink="/main/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Мои курсы
      </a>
    }

    @if (role() === 'teacher') {
      <a routerLink="/main/teacher/courses" routerLinkActive="active">
        Управление курсами
      </a>
    }

    @if (role() === 'admin') {
      <a routerLink="/main/admin/courses" routerLinkActive="active">
        Управление курсами
      </a>

      <a routerLink="/main/admin/users" routerLinkActive="active">
        Управление пользователями
      </a>
    }
  </nav>

</div>
